html {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	min-width: 900px;
}
body {
	background: #000000;
	width: auto;
	min-width: 900px;
	margin: 0 auto;
	padding: 0;
}
#diablo-page {
	display: block;
	width: 900px;
	margin: 0 auto;
	background: #A8EFA3;
	padding: 0 10px 20px 10px;
}
h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 40px;
	padding: 20px 0;
	margin: 0 auto;
}
#diablo-title {
	padding: 20px 0 40px 0;
}
#d1-images {
	display: block;
	width: 200px;
	height: 200px;
}
#intro {
	padding: 10px 0;
}
#d1-section {
	padding: 5px 0;
	margin: 0 auto;
}
#d1-text {
	display: inline-block;
}