li {
	color: blue;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 1px;
}
a:hover {
	font-weight: bold;
}
a:link {
	color: blue;
}
a:visited {
	color: purple;
}
html {
	font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #0C1C4F;
	min-width: 1000px;
}
h1 {
	font-size: 50px;
	text-align: center;
	font-family:'Bungee Inline', cursive;
	margin: 0;
	padding: 20px 0;
	color: #95CFEE;
	text-shadow: 3px 3px 1px black;
}
p, table {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
body {
	min-width: 1000px;
	width: auto;	
	margin: 0 auto;
	background: url(../images/blue-fire.png) no-repeat bottom center #0C1C4F;
	background-size: auto auto;
	padding: 0;	
}
img {
	display: block;
	margin: 0 auto;
	width: 718px;
	height: 748px;
}
img:hover {
	outline: dashed;
}
table {
	margin: 0 auto;
	width: 440px;
	border-style: double;
	border-left-width: 5px;
	border-right-width: 5px;
	padding: 5px 5px 5px 5px;
}
#main-area {
	width: 1000px;
	background: url(../images/sword.png) no-repeat 58% 87%, 
		url(../images/bow.png) no-repeat 70% 90%, 
		url(../images/fire-ball.png) no-repeat 20% 62% / 10%, 
		url(../images/fire-ball.png) no-repeat 80% 62% / 10% #A2EE95;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 0;
	bottom: 0;
	padding: 0 10px;
	border: 5px solid black;
}
.list-title {
	font-size: 19px;
}
.table-title {
	font-size: 20px;
	text-decoration: none;
}
#top-button {
	background: #A2EE95;
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	border-left-width: 10px;
	border-right-width: 10px;
	margin: 0 auto;
	width: 120px;
	font-variant: small-caps;
}
#top-button:hover {
	background: #95CFEE;
}
.form {
	font-weight: bold;
	background-color: #B5F1B5;
	width: 320px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
}
.form h2 {
	font-size: 20px;
	text-align: center;
	
}
.form input:focus, textarea:focus {
	background: #eee;
}
#badger {
	text-align: center;
	color: red;
	font-size: 18px;
}
#feature-list {
	display: block;
	margin: 0 5px 10px 5px;
	padding-left: 150px;
}
#feature-list li:first-letter {
	font-size: 20px;
	letter-spacing: 0;
}
blockquote {
	display: inline-block;
	background-color: #B5F1B5;
	padding-left: 10px;
}
#user-button {
	position: absolute;
	margin-left: 800px;
}
#similar-games {
	position: fixed;
	float: left;
	display: block;
	margin: 120px 10px 10px 270px;
	padding: 0 5px;
	background-color: #95CFEE;
	border: 2px solid black;
}
#nav-header {
	display: inline;
	font-size: 18px;
}
legend {
	font-size: 17px;
	font-weight: normal;
}
.region {
	display: inline-block;
}
.region p {
	letter-spacing: 0;
}
#type {
	display: inline-block;
}
#melee {
	font-size: 12px;
}
label {
	font-size: 12px;
}
.fields {
	width: 259px;
}